<link rel="stylesheet" href="../../assets/css/navbar.css">
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        Documentation
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <li><a class="dropdown-item" href="http://localhost:8080/notepad/terminal-commands/">Terminal Commands</a></li>
        <li><a class="dropdown-item" href="http://localhost:8080/notepad/code-snippets/">Code Snippets</a></li>
        <li><a class="dropdown-item" href="http://localhost:8080/notepad/tools/">Tools</a></li>
        <li><a class="dropdown-item" href="http://localhost:8080/notepad/theory/">Theory</a></li>
    </ul>
</li>


<li class="nav-item">
    <a id="nav-admin" class="nav-link disabled" href="/admin">Admin Panel</a>
</li>

<li class="nav-item">
    <a class="nav-link" href="/login">Login</a>
</li>

<li class="nav-item">
    <a class="nav-link" href="/create-note">New Page</a>
</li>